.places__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.47fr 0.49fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 624px) {
  .places__container {
    grid-template-columns: 1fr;
  }
}
