.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 562px) {
  .lead__subtitle {
    font-size: 27px;
  }
}

@media screen and (max-width: 455px) {
  .lead__subtitle {
    font-size: 23px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    margin-top: 16px;
  }
}