@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);

.body {
  background-color: #2A2C2F;
}


@media screen and (max-width: 1184px) {
  .page {
    width: 100%;
  }
  .photo-grid {
    width: 100%;
  }
  .photo-grid__item {
    width: 100%;
  }
  .cover {
    width: 100%;
    /* 0.625 = 740px / 1184px (отношение сторон)*/
    height: calc(0.625 * 100vw);
  }
  .footer {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 1048px) {
  .places__title {
    font-size: 60px;
  }
  .places__url-heading {
    font-size: 10px;
  }
  .places__link {
    font-size: 15px;
  }
  .places__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
  }
  .lead__caption {
    padding-left: 50px;
  }
  .intro {
    width: 92%;
    margin: 92px 286px 92px 48px;
  }
  .photo-grid {
    width: 92%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
  .places {
    width: 92%;
  }
}

@media screen and (max-width: 924px) {
  .lead__title {
    font-size: 75px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 30px;
  }
  .lead__caption {
    font-size: 8px;
  }
  .places__title {
    font-size: 43px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 93.7%;
  }
  .intro {
    margin: 88px 24px 88px;
  }
  .photo-grid {
    width: 94%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  .cover__title {
    width: 60%;
    font-size: 58px;
  }
  
  .cover__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 679px) {
  .cover__title {
    font-size: 52px;
  }
  .places__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 624px) {
  .cover__title {
    font-size: 47px;
  }
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  .places {
    width: 100%;
  }
  .places__container {
    grid-template-columns: 1fr;
  }
  .places__title {
    font-size: 48px;
    margin-left: 16px;
  }
  .places__link-container {
    display: none;
  }
  .places__description {
    margin: 0 16px;
  }
  .places__text {
    font-size: 24px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer__link-container {
    margin-bottom: 32px;
  }
  
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}

@media screen and (max-width: 562px) {
  .lead__title {
    font-size: 60px;
  }
  .lead__subtitle {
    font-size: 27px;
  }
  .cover__title {
    font-size: 43px;
  }
}

@media screen and (max-width: 503px) {
  .cover__title {
    font-size: 38px;
  }
}

@media screen and (max-width: 455px) {
  .lead__title {
    font-size: 40px;
  }
  .lead__subtitle {
    font-size: 23px;
  }
  .cover__title {
     font-size: 35px;
  }
  
  .cover__subtitle {
    width: 60%;
    font-size: 10px;
  }
}

@media screen and (max-width: 409px) {
  .cover__title {
    font-size: 31px;
  }
}

@media screen and (max-width: 363px) {
  .cover__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 328px) {
  .cover__title {
    font-size: 25px;
  }
  .cover__subtitle {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    width: 90%;
    font-size: 35px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
  }
  
  .intro {
    margin: 64px 16px;
  }
}