.cover__title {
  width: 560px;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
  z-index: 5;
}



@media screen and (max-width: 586px) {
  .cover__title {
    width: 67%;
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 78%;
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 16px;
  }
}
